.photo-date {
  font-size: 18px;
}

.album-name {
  font-size: 18px;
}

.navbar-brand {
  width: 15%;
}

/* .nav-item {
  line-height: 1.5;
  display:inline-block; 
  vertical-align:middle;
  font-size: 18px;
} */

.nav-link {
  margin-bottom: 5px;
}

.me-2 {
  margin-right: 10px;
}

#cloud-logo {
  margin-right: 10px;
}

#circle {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: rgb(150, 172, 240);
  margin-left: 10px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload {
  margin-left: 10px;
}

#plus {
  margin-left: 10px;
}

#minus {
  margin-left: 10px;
}

#recovery {
  margin-left: 10px;
}

#delete {
  margin-left: 10px;
}

.photo {
  width: auto;
  height: 200px;
  margin: 2px 2px 2px 2px;
}

.face {
  width: auto;
  height: 160px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.back {
  width: auto;
  height: 20px;
}

.photo:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
  width: auto;
  height: 40px;
}

.img-container {
  display: flex;
  position: relative;
  width: fit-content;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .middle {
  opacity: 0.9;
}

.selected {
  transform: scale(0.9, 0.9);
  border: #3591fa 5px dashed;
}

@media only screen and (max-width: 1240px) {
  .sidebar {
    visibility: Hidden;
  }
}
